.app-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Path to your asset */
  background-image: url('img1.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* This prevents the sunburst from moving if the content is long */
  background-attachment: fixed; 
  
  /* Ensure the background is behind the UI */
  position: relative;
  overflow: hidden;
}


.speech-bubble {
  position: relative;
  background: white;
  border: 5px solid black;
  border-radius: 50px;
  padding: 40px;
  max-width: 450px;
  box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

.welcome-text {
  font-family: 'Arial Black', sans-serif;
  font-size: 3rem;
  line-height: 0.9;
  color: #FF5F38;
  margin: 0;
}

.welcome-text span {
  font-size: 3.5rem;
  -webkit-text-stroke: 1.5px black;
}

.description {
  color: #00A9CC;
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 15px;
}

.bubble-tail {
  position: absolute;
  bottom: -25px;
  left: 60px;
  width: 50px;
  height: 50px;
  background: white;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  transform: rotate(45deg);
}

.btn-container { margin-top: 50px; position: relative; }

.nope-badge {
  position: absolute;
  top: -15px;
  left: 0;
  background: white;
  border: 2px solid black;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 0.7rem;
  transform: rotate(-15deg);
}

.start-btn {
  background: #FF5F38;
  color: white;
  font-family: 'Arial Black', sans-serif;
  font-size: 1.8rem;
  padding: 15px 40px;
  border: 4px solid black;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}